body
{
    background: #d7e8f7;
}


form.box div
{
    height: 50px;
    width: 70%;
    border: 2px solid #2196F3;
    background: #ffffff;
    padding: 0px;
    margin: auto;
}

form.box input
{
    padding: 10px;
    font-size: 17px;
    float: left;
    height: 100%;
	width: 80%;
    border: none;
    outline: none;
}

form.box button 
{ 
    float: right;
	width: 70px;
    height: 100%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: none;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

form.box button:hover
{ 
    background: #1984db;
}

form.box::after {
    content: "";
    clear: both;
    display: table;
  }